body {
	background-color: #000000;
	/*background-color: #C0C0C0;*/
}

.editor {
	position: absolute;
}

.attrSelect {
	width: 35%;
}

.attrEditor {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	visibility: hidden;
}

.attrValue {
	width: 100%;
}

.attrName {
	width: 70%;
}

.objName {
	width: 100%;
}